<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

    <appSettings>
      <add key="apiPublicKey" value="0956f82d-fa75-41c7-85cd-10076c66cf6f" />
      <add key="apiPrivateKey" value="4ED28CDEDB1C1809B797F2498A4FB20F" />
      <add key="OkexUrl" value="https://www.okex.com" />
      <add key="FuturePositionUrl" value="/api/v1/future_position.do" />
      <add key="FutureDepthUrl" value="/api/v1/future_depth.do" />
      <add key="MarketDepth" value="30" />
    </appSettings>
</configuration>